body{
font-family:Arial;
text-align:center;
background:#111;
color:white;
}

.controls{
margin:20px;
}

button,select{
padding:10px;
margin:5px;
border:none;
border-radius:5px;
font-size:14px;
}

button{
background:#00adb5;
color:white;
cursor:pointer;
}

#grid{
display:grid;
grid-template-columns:repeat(20,30px);
justify-content:center;
margin-top:20px;
}

.cell{
width:30px;
height:30px;
border:1px solid #222;
background:#1a1a1a;
}

.start{background:#00ff88;}
.goal{background:#ff3b3b;}
.wall{background:black;}
.visited{background:#3fa7ff;}
.path{background:#ffd166;}
